<!DOCTYPE html>
<html xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <title>Connected Devices</title>
    <link rel="stylesheet" type="text/css" href="/css/homepage.css" />
    <script th:inline="javascript">
        var requestPeriod = /*[[${requestPeriod}]]*/;
    </script>
    <script src="/javascript/homepage.js"></script>
    <meta charset="UTF-8" />
</head>
<body>
<header>
    <h1>Connected Devices</h1>
</header>
<div class="raspberry-pi-report-list" id="raspberry-pi-report-list">

</div>
<footer>
    <p>By Iwan Ćulumović</p>
</footer>
</body>
</html>
